@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
  }

  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
  }

html, body {
    height: 100%;
    font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family : 'Segoe UI Bold';
}

a, a:hover {
  text-decoration: none;
  color:#6174D1;
}

/* Navbar */

.navbar-brand {
  color: #6174D1;
  font-size: 1.5rem;
}
.navbar {
  width: 100vw;
  height: 4rem;
  border-bottom: 2px solid #efefef;
}

.navbar .nav-item {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-toggler {
  margin-left: 0 auto;
  margin-right: 3rem;
}

.fa-sign-in-alt {
  padding-left: 0.7em;
  color: #6174D1;
} 

/* Footer */

#copyright {
    position: relative;
    bottom: 0;
    height: 3rem;
    margin-top: 2rem;
    text-align: center;
    padding-top: 1rem;
    border-top: 2px solid #efefef;
}

/*Login Form*/

h3 {   
  text-align: center;
} 

label {
  padding-bottom: 1rem;
}

form {
  width: 30%;
  margin: 0 auto;
  border: 2px solid #efefef;
  border-radius: 20px;
  padding: 2em;
  margin-top: 8rem;
  text-align: center;
}

.form-control {
  margin-bottom: 2rem;
  font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.7rem;
}

.button {
  text-align:center;
}

.btn {
  color: black;
  background: #efefef;
}

.btn:hover {
  color: white;
  background: #838383;
}

/*Home table*/

main {
  width: 90%;
  margin-left: 0 auto;
  height: 80vh;
}

.table-striped {
  width: 90%;
  text-align: center;
  margin-top: 5rem;
  line-height: 3rem;
}

#table {
  display: flex;
  justify-content: center;
}

#action {
  padding-right: 2rem;
}

h2 {
  margin-top: 3rem;
  text-align: center;
}

td, th {
  padding-left: 2rem;
}